<!--footer-->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer_widget widget widget_newsletter">
                    <h4 class="widgettitle">Receba novidades</h4>
                    <form>
                        <input type="text" class="form-control" placeholder="Name" name="" value="">
                        <input type="email" class="form-control" placeholder="Email" name="" value="">
                        <input type="submit" class="btn btn-primary btn-lg" name="" value="Inscreva-se">
                    </form>
                </div>
                <div class="col-md-2 col-sm-6 footer_widget widget widget_custom_menu widget_links">
                    <h4 class="widgettitle">Destaques</h4>
                    <ul>
                        <li><a href="blog.html"><i class="fa fa-angle-right"></i> Empresas novas</a></li>
                        <li><a href="blog-masonry.html"><i class="fa fa-angle-right"></i> Novos profissionais</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-right"></i> Empresas Top 10</a></li>
                        <li><a href="about-html"><i class="fa fa-angle-right"></i> Profissionais Top 10</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 footer_widget widget widget_custom_menu widget_links">
                    <h4 class="widgettitle">Profissionais</h4>
                    <ul>
                        <li><a href="blog.html"><i class="fa fa-angle-right"></i> Top 10 profissionais</a></li>
                        <li><a href="blog-masonry.html"><i class="fa fa-angle-right"></i> Novos profissionais</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-right"></i> Recutre</a></li>
                        <li><a href="about-html"><i class="fa fa-angle-right"></i> Profissionais DF</a></li>
                    </ul>
                </div>

                <div class="col-md-5 col-sm-6 footer_widget widget text_widget">
                    <h4 class="widgettitle">Sobre nós</h4>
                    <p>Nós nos dedicamos a encontrar as melhores empresas e profissionais e torna-los disponiveis pra vocês
                        atraves do nosso banco de dados.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 copyrights-left">
                    <div class="lovers">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 copyrights-right">
                    <p class="terms">
                        O uso deste site está sujeito aos termos e condições do <a href="/corp/termofuse.jsp"> Termo de Uso</a>                        e
                        <a href="/corp/privacy.jsp">Política de privacidade</a>.
                        <span class="rights">© Boas Opções. Todos os direitos reservados.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>